/* .modal-content {
  background-color: #273c75;
  color: #eeeeee;
}

.close,
.close:hover {
  color: #eb4d4b;
  opacity: 1;
  text-shadow: 0 1px 0 #000000;
}

.modal-body {
  overflow-x: hidden;
}

.label {
  background-color: #273c75;
  padding-right: 0.33em;
}

.label::before {
  content: " . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
  width: 0;
  white-space: nowrap;
  float: left;
}

.data {
  float: right;
  position: relative;
  z-index: 1;
  background-color: #273c75;
  padding: 0 5px;
}

h3 {
  width: 100%;
  text-align: center;
  z-index: 1;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-button {
    margin-top: 1rem;
    color: #F5F6FA;
    background-color: #2ED573;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    height: 35px;
    padding: 0 30px;
    border-radius: 15px;
    border: none;
}

.total-wrapper {
    margin-top: 1rem;
    border-top: 1px solid #EEEEEE;
    width: 100%;
    display: flex;
}

.total-label {
    margin-right: auto;
}

.overlay {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
} */