@import url('https://fonts.googleapis.com/css?family=Numans|Open+Sans:400,700,800|Roboto&display=swap');

.title {
    color: #2d3436;
    font-size: 28px;
    font-family: 'Numans', sans-serif;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.titleHighlight {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: inherit;
    color: #5352ED;
    margin-right: 8%;
}

.title:hover {
    color: #2d3436;
    text-decoration: none;
}

.link {
    color: #4F4F4F;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.link:hover {
    color: #2d3436;
}

.navWrapper {
    font-family: Numans cursive;
    padding: 3% 5%;
}

